* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: "Lato", sans-serif;
  display: flex;
}

h1 {
  font-size: 4rem;
  font-style: italic;
}

.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.color-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.color-picker-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.color-picker-indicator {
  width: 60px;
  height: 8px;
  border-radius: 0.5rem;
  background-color: #b22122;
  transition: all 1s ease;
  opacity: 0;
}

.unhide {
  opacity: 1;
  transition: all 1s ease;
}

button {
  width: 240px;
  padding: 16px;
  border: none;
  border-radius: 5rem;
  background-color: #191919;
  font-weight: 700;
  font-style: italic;
  color: #fffdfb;
  font-size: 24px;
  transition: all 1s ease;
  border: 1px solid white;
}

button:hover {
  background-color: #19191920;
  color: #b22122;
  transition: all 1s ease;
}

.clear:hover {
  opacity: 1;
  color: white;
  background-color: #b22122;
  transition: all 1s ease;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.dimension {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 800px;
  height: 800px;
  display: flex;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-parent {
  display: flex;
  flex: 1;
}

.grid-box {
  flex: 1;
}

.border {
  border: 1px solid #00000020;
}

.active {
  background-color: white;
  color: #191919;
  transition: all 1s ease;
  border: 1px solid black;
}

/* Change Button Input */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #191919;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 2px;
  background-color: #fffdfb;
  height: 2rem;
  width: 2rem;
  border: 1px solid #19191940;
  border-radius: 50%;
}

/* Color Picker */

.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: 1px solid #191919;
}
.color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
