* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100dvh;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

button {
  width: 100px;
  height: 36px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 600px;
  height: 600px;
  display: flex;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-parent {
  display: flex;
  flex: 1;
}

.grid-box {
  flex: 1;
}

.border {
  border: 1px solid lightgray;
}
